[access]
	inheritFrom = All-Projects
[project]
	description = test
[access "refs/*"]
	owner = group user/rajat-kumarbal
[access "refs/for/refs/*"]
	read = group user/rajat-kumarbal
	push = group user/rajat-kumarbal
	label-Code-Review = -2..+2 group user/rajat-kumarbal
	label-Verified = -1..+1 group user/rajat-kumarbal
	rebase = group user/rajat-kumarbal
	removeReviewer = group user/rajat-kumarbal
	submit = group user/rajat-kumarbal
[access "refs/heads/*"]
	read = group user/rajat-kumarbal
	create = group user/rajat-kumarbal
	push = +force group user/rajat-kumarbal
	pushMerge = group user/rajat-kumarbal
[access "refs/tags/*"]
	push = group user/rajat-kumarbal
	push = +force group user/rajat-kumarbal
